<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件，存放SQL
	namespace是映射文件的唯一标志
-->
<mapper namespace="com.hualy.shopping.dao.UserDao">

    <!-- select查询用户表的所有数据
        id该SQL的唯一标志
    resultType要把查询到的结果封装给哪个实体对象
    -->
    <select id="selectAll"
            resultType="com.hualy.shopping.pojo.User">
		select * from user
	</select>


</mapper>
